<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/flowplayer-3.2.13.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>播放器</h1>  
    <a href="/javascripts/1.mp4" 
      style="display:block;width:425px;height:300px;"id="player"></a> 
    
    <script type="text/javascript">
      flowplayer("player", "/javascripts/flowplayer-3.2.18.swf", {
        clip:  {
          autoPlay: true, //自动播放
          autoBuffering: true, //边播边缓存
          scaling: 'fit'  //根据视频中的元数据来适应播放器宽高
        },
        onLoad: function() {  //完成加载时执行
          this.setVolume(30); //设置初始声音百分比
        },
        playlist: [ //设置播放列表，顺序播放，开启时默认a标签上直接设置的将会失效。
          '/javascripts/歌曲.mp4', 
          '/javascripts/1.mp4',
          {  //自定义持续时间，截取前25秒
            url: "/javascripts/歌曲.mp4",
            duration: 50     
          }
        ],
        plugins: { // 加载一个或多个plugin
          
          controls: { //加载controls plugin
            url: 'flowplayer.controls-3.2.16.swf',
            playlist: true, //控制条显示切换相关按钮， Next Previous
            backgroundColor: '#6b52ae', //设置控制条背景
            height: '30',
            opacity: '0.9',
            autoHide: 'never', //控制条一直显示
            tooltips: { //可以给各个按钮相当与重命名
              buttons: true, //开启按钮对应文字
              play: '播放',
              pause: '暂停',
              mute: '静音',
              unmute: '取消静音',
              fullscreen: '全屏',
              fullscreenExit: '退出全屏',
              next: '下一个',
              previous: '上一个'
            },
            tooltipColor: '#6b52ae', //tooltips的背景色
            tooltipTextColor: '#ffffff' //tooltips的字颜色
          }

        },
        onFinish: function() { //视频播放完毕
          console.log("Click Player to start video again");
        }
      });
    </script>
  </body>
</html>
